@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --color-primary: var(--mat-indigo-500); /* Indigo */
  --color-accent: var(--mat-pink-500); /* Pink */
  --color-warn: var(--mat-red-500); /* Red */
  --color-success: var(--mat-green-500); /* Green */
}

html,
body {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: Raleway, sans-serif;
}